.main {
	margin:auto;
	max-width:850px;
	padding:20px;
	padding-bottom:50px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $orange;
	border-radius: $border-radius;
	transition: all 0.15s;
	box-shadow:  0 10px 10px rgba(0,0,0,0.3);
	transform:scale(1);

	@media (max-width: 400px){
		padding:10px;
	}

	#gameDiv {
		min-height: 40px;
		min-width:500px;
		max-width:500px;
		width:100%;
		border:3px solid $off-white;
		margin:10px 0;
		text-align: center;
		@media (max-width: 580px){
			min-width: 0;
		}
		p{
			display:block;
			text-align: center;
			margin:0;
			padding:20px 20px 0 20px;
			font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
			font-size:2.4rem;
			font-weight: 700;
			letter-spacing: 2px;
			margin-bottom: 0;
			width:auto;
			font-weight:300;;
			@media (max-width: 500px){
				padding: 5px;
			}

			&.changeStyle{
				padding:0px;
			}
		}

		h2{
			padding-bottom:40px;
			font-weight:300;
			@media (max-width:600px){
				font-size: 2.4rem;
			}
			@media (max-width:500px){
				padding-bottom: 10px;
			}
		}
		#gameDivP{
			word-break:break-all;
		}

		.result {
			padding:5px;

			&Score {
				padding-top:0;
			}

			span {
				text-align: left;
				font-size: 1.6rem;
				display: flex;
   			align-items: center;
			}

			&Total{
				font-size:3rem;
				padding:0;
			}

			&Calc{
				padding:10px;
				font-size:1.8rem;
			}
			&Table{
				h4 {
					padding:10px 0;
				}

				&Answer{
				padding:0;
				cursor: pointer;

					&Row{
						display:flex;
						padding:2.5px 0;

						p {
							min-width: 150px;
	   					text-align: left;
	   					padding:0 5px;
						}
					}
				}
			}
		}
	}
	button.quizButton{
		font-size: 4rem;
		line-height: 4rem;
		background-color: $off-black;
		border: none;
		margin:5px;
		border-radius: 5px;
		font-weight: 300;
		padding:10px;
		border-radius: 50%;
		color:$off-white;
		width:100px;
		display:flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -60px;
	}

	.userInput {
		border-radius: 3px;
	   background: white;
	}

	#userInputBtn {
	   display:none;
	}

	input{
		font-size: 3rem;
		width:250px;
		background-color: rgba(255,255,255,0.8);
		border: none;
		padding:5px;
	}
	input:focus{
		outline:none;
	}
}

.correctAnswer {
	box-shadow:0px 0px 30px rgba(98,232,83,1);
	transform:scale(1.03);
}

.incorrectAnswer {
	box-shadow:0px 0px 30px rgba(255,62,57,1);
	transform:scale(0.97);
}

.hideWord {
	width:0px;
	transition: all 0.2s;
}

form{
	display:flex;
	flex-direction: column;
	min-width: 200px;
	input{
		margin:5px;
	}
}