// MAIN

.enclosing{
	display:flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	position: relative;
	min-height:100vh;
	background: #faf5e4 url('../../assets/background.png');
	
	@media (max-width: 850px){
		overflow: hidden;
	}
}



.hidden{
	display:none;
}

#modal {
	text-align: center;
	display: block; 
	position: absolute; 
	z-index: 100; 
	max-width: 500px; 
	height: auto; 
	top:95px;
	left:50%;
	transform: translate(-50%,0);
	background-color: rgba(230,230,230,0.5);
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
	@media (max-width:430px){
		top:80px;
		width:80%;
	}
}

#modalBtn{
	margin:0 15px;
	@media (max-width:460px){
		margin:0 5px;
	}
}

.modalContent {
	padding: 10px;
	width: 100%;
	font-size: 2rem;
}

#close {
	background-color: rgba(0,0,0,0);
	border:none;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

h2{
	font-size: 5rem;
}

h4 {
	font-size:3rem;
	@media (max-width: 350px){
		font-size:2rem;
	}
}

.wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	padding-bottom:115px;
}

footer {
	position: absolute;
	bottom:20px;

	a {
		outline:none;
		padding:10px 100px;
		border:2px solid $orange;
		border-radius:$border-radius;
		text-align: center;
		list-style:none;
		text-decoration: none;
		letter-spacing: 2px;
		font-size: 1.6rem;
		color:$orange;

		&:hover {
			background:$orange;
			color:white;
		}
	}
}