// MAIN

.enclosing{
	display:flex;
	flex-direction: column;
	align-items: center;
	height:100vh;
	position: relative;
	min-height:600px;
	@media (max-width: 850px){
		overflow: hidden;
	}
}

.triangleLeft{
	position:absolute;
	z-index: -100;
	transform:translate(-50%,0);
	top:0;
	left:0;
	width: 0; 
	height: 0; 
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 400px solid rgba(205,92,92,0.9);
}

.triangleRight{
	position:absolute;
	z-index: -100;
	transform:translate(50%,0);
	bottom:0;
	right:0;
	width: 0; 
	height: 0; 
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 400px solid rgba(255,222,173,0.9);
}

header{
	position: relative;
	width:auto;
	padding:15px;
	display:flex;
	justify-content: center;
	text-align: center;
	background-color: rgba(230,230,230,0.5);
	margin:0 auto;
	@media (max-width: 430px){
		padding:5px;
	}
	h1{
		font-weight: 300;
		font-size: 5rem;
		letter-spacing: 2px;
		font-family: 'Archivo Black', sans-serif;
		color:black;
		text-transform: uppercase;
		@media (max-width: 690px){
			font-size: 4rem;
		}
		@media (max-width: 580px){
			font-size:3rem;
			padding:10px;
			line-height: 1;
		}
		@media (max-width: 400px){
			font-size:2.4rem;
		}
	}
	button{
		background-color: rgba(0,0,0,0);
		border:none;
		font-size: 2rem;
	}
	button:focus{
		outline:0;
	}
}

.hidden{
	display:none;
}

#modal {
	text-align: center;
	display: block; 
	position: absolute; 
	z-index: 100; 
	max-width: 500px; 
	height: auto; 
	top:95px;
	left:50%;
	transform: translate(-50%,0);
	background-color: rgba(230,230,230,0.5);
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
	@media (max-width:430px){
		top:80px;
		width:80%;
	}
}

#modalBtn{
	margin:0 15px;
	@media (max-width:460px){
		margin:0 5px;
	}
}

.modalContent {
	padding: 10px;
	width: 100%;
	font-size: 2rem;
}

#close {
	background-color: rgba(0,0,0,0);
	border:none;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

h2{
	font-size: 5rem;
}

h4 {
	font-size:3rem;
	@media (max-width: 350px){
		font-size:2rem;
	}
}

.wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	padding-bottom:95px;
}

.main {
	margin:auto;
	max-width:850px;
	padding:20px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(200,245,245);
	border-radius: 20px;
	box-shadow:  0 10px 10px rgba(0,0,0,0.3);
	@media (max-width: 400px){
		padding:10px;
	}

	div {
		min-width:500px;
		width:100%;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
		margin:10px 0;
		text-align: center;
		@media (max-width: 580px){
			min-width: 0;
		}
		p{
			display:block;
			text-align: center;
			margin:0;
			padding:20px 20px 0 20px;
			font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
			font-size:4.2rem;
			font-weight: 700;
			letter-spacing: 2px;
			@media (max-width: 500px){
				padding: 5px;
				font-size: 4rem;
			}
		}
	}
	button{
		font-size: 1.6rem;
		background-color: rgba(255,255,255,0.3);
		border: none;
		margin:5px;
		border-radius: 5px;
		font-weight: 300;
		padding:10px;
		width:250px;
	}

	input{
		font-size: 3rem;
		width:250px;
		background-color: rgba(255,255,255,0.8);
		border: none;
		padding:5px;
	}
	input:focus{
		outline:none;
	}
}

#gameDiv {
	p{
		margin-bottom: 0;
	}
	h2{
		padding-bottom:40px;
		@media (max-width:600px){
			font-size: 2.4rem;
		}
		@media (max-width:500px){
			padding-bottom: 10px;
		}
	}
	#gameDivP{
		word-break:break-all;

	}
}

form{
	display:flex;
	flex-direction: column;
	min-width: 200px;
	input{
		margin:5px;
	}
}

footer {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	padding:10px;
	text-align: center;
	background-color: rgba(230,230,230,0.5);
	h2{
		letter-spacing: 2px;
		font-family: 'Archivo Black', sans-serif;
		font-size: 1.6rem;
		a {
			list-style:none;
			text-decoration: none;
			letter-spacing: 2px;
			font-family: 'Archivo Black', sans-serif;
			font-size: 1.6rem;
			color:black;
		}
	}
}