// settings

header{
	position: relative;
	width:auto;
	padding:15px;
	display:flex;
	justify-content: center;
	text-align: center;
	background-color: rgba(230,230,230,0.5);
	margin:0 auto;
	width:100%;
	
	@media (max-width: 430px){
		padding:5px;
	}
	h1{
		font-weight: 300;
		font-size: 5rem;
		letter-spacing: 2px;
		font-family: 'Archivo Black', sans-serif;
		color:black;
		text-transform: uppercase;
		@media (max-width: 690px){
			font-size: 4rem;
		}
		@media (max-width: 580px){
			font-size:3rem;
			padding:10px;
			line-height: 1;
		}
		@media (max-width: 400px){
			font-size:2.4rem;
		}
	}
	button{
		background-color: rgba(0,0,0,0);
		border:none;
		font-size: 2rem;
	}
	button:focus{
		outline:0;
	}

	.header-cont{
		display: flex;
		align-items: center;
	}

	.settings {
		display:none;
		background: rgba(255,255,255,0.8);
		position:absolute;
		z-index:100;
		right:0;
		top:50%;
		transform: translate(50%,0);

		h3, h4 {
			font-size:2rem;
		}
		button {
			font-size:1.6rem;
		}

		&-overlay {
			display:none;
			position:absolute;
			width:100vw;
			height:100vh;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 90;
		}

		&-container {

		}
	}

	.difficulty {
		display:none;
		background: rgba(255,255,255,0.8);
		position:absolute;
		z-index:100;
		right:0;
		top:50%;
		transform: translate(50%,0);

		h3, h4 {
			font-size:2rem;
		}
		button {
			font-size:1.6rem;
		}

		&-overlay {
			display:none;
			position:absolute;
			width:100vw;
			height:100vh;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 90;
		}

		&-container {

		}
	}
}

.diffSelLen, .diffSelNum, .diffSelFam  {
	background:orange;
}