// settings

.settings {
	display:none;
	background: rgba(255,255,255,0.8);
	position:absolute;
	z-index:100;
	right:0;
	top:50%;
	transform: translate(50%,0);

	h3, h4 {
		font-size:2rem;
	}
	button {
		font-size:1.6rem;
	}

	&Overlay {
		display:none;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 90;
	}
}

.diffSelLen, .diffSelNum, .diffSelFam  {
	background:orange;
}